.moon-sun {
  position: absolute;
  z-index: 1;
  left: 15px;
}

#dark-mode,
#light-mode {
  text-align: right;
  cursor: pointer;
}

#dark-mode .fa-moon {
  color: var(--white);
}
#light-mode .fa-sun {
  color: #f1c40f;
}

.dark .section-primary {
  background-color: #273746;
  color: var(--white);
}

.dark .background {
  background: #151515
    url(https://images.unsplash.com/photo-1483982258113-b72862e6cff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)
    no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}

.dark #skills {
  background: #151515
    url(https://images.unsplash.com/photo-1516249181155-bbf89a130f77?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80)
    no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 90vh;
  position: relative;
  text-align: center;
  color: var(--white);
  display: table;
}

/* LANGUAGES ICONS:
 * =================================================================== */
.languages {
  position: absolute;
  z-index: 1;
  right: 30px;
}

.languages .spanish-english img {
  width: 30px;
  height: 30px;
}
