@media (max-width: 428px) {
  /* ============================== INTRO =====================================*/
  .intro h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .intro-desc {
    font-size: 10px;
    width: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .social {
    padding-top: 50px;
  }

  /* STYLES SECTION - EDUCATION:
 * =================================================================== */

  .container .ioc h2 {
    font-size: 25px;
  }

  /* SKILLS STYLES:
 * =================================================================== */
  .row-skills {
    flex-wrap: wrap;
    width: 250px;
    margin: auto;
    gap: 20px;
  }
  .row-skills i {
    font-size: 30px;
  }
  .row-skills h2 {
    font-size: 20px;
  }

  .aprendiendo {
    font-size: 20px;
    width: 220px;
    margin: auto;
  }

  /* EXPERIENCE STYLES:
 * =================================================================== */
  #experiencesection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }
  .content-experience {
    width: 80%;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    border: 2px solid var(--green-light);
  }

  /* FOOTER:
 * =================================================================== */
  .footer {
    padding-bottom: 80px;
  }
}
