* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Varela Round", sans-serif;
  /* background-color: black; */
  /* font-family: "Source Sans Pro", sans-serif; */
  /* overflow-x: hidden; */
}

:root {
  --green-light: #5bd3bb;
  --white: #fafafb;
  --dark: #111111;
}
ul {
  list-style: none;
}

hr {
  border-top: 5px solid var(--green-light);
  width: 80px;
  margin: auto;
}

a {
  cursor: pointer;
  color: var(--green-light);
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: var(--green-light);
  opacity: 0.9;
}

.colour-splash {
  color: var(--green-light);
}
.section-primary span {
  color: #1abc9c;
  font-weight: bolder;
  opacity: 1;
}

#fp-nav ul li a span {
  background: orange;
}

/* SECTION INICIAL
 * =================================================================== */

.background {
  background: #151515
    url(https://images.unsplash.com/uploads/1411589183965bdf6e141/5f468e98?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)
    no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}
.section-image {
  text-align: center;
  color: var(--white);
  display: table;
  width: 100%;
  height: 100vh;
}
.wave {
  position: absolute;
  bottom: 0;
  color: #f9f9f9;
  left: 0;
  background-size: 1000px 100px;
  background-image: url(/images/wave.png);
  width: 100%;
  height: 10vh;
  animation: wave 10s linear infinite;
}
@keyframes wave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

/* ============================== INTRO =====================================*/
.intro {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  transform: translateY(-2.1rem);
}
.intro .row {
  margin-right: 0;
  margin-left: 0;
}
.intro h1 {
  font-size: 84px;
  margin: auto;
}

.nameTyped {
  display: block;
  font-family: "Varela Round", sans-serif;
  white-space: nowrap;
  text-align: center;
  border-right: 4px solid;
  width: 14ch;

  animation: typing 2s steps(18), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}
/* Para el parpadeo */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.intro h5 {
  color: var(--green-light);
  font-size: 2.3rem;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
/* MANO ANIMADA */
.w-16 {
  width: 4rem;
}
.animate-hand {
  animation: hand 2.5s ease-in-out infinite;
}
@keyframes hand {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.section-image span {
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 100;
}

.row-mi .image-file {
  width: 92%;
  height: auto;
}

/* SOCIAL ICONS:
 * =================================================================== */

.social {
  margin: 0 10px;
  padding-top: 1.3em;
  text-align: center;
  color: #fff;
  font-size: 0.9em;
}
.social a {
  color: white;
  text-decoration: none;
  padding: 2em;
}
.social a:hover {
  opacity: 0.8;
}

.social-footer {
  padding: 15px;
}

.social-footer a {
  color: white;
  text-decoration: none;
  padding: 0.6em;
  font-size: 1.7em;
}

/* STYLES SECTION:
 * =================================================================== */

section {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-color: #f9f9f9;
}
.section-primary h2 {
  font-size: 30px;
}
.lead {
  font-size: 20px;
}
.section-primary .lead {
  text-align: center;
  padding-bottom: 10px;
}
.section-primary p,
.section-image .row-mi {
  padding-top: 20px;
  width: 50%;
  margin: auto;
  font-size: 20px;
  text-align: justify;
}

.ioc {
  padding-top: 40px;
}
.ioc .description-edu {
  text-align: center;
}
.separation {
  background-color: #f9f9f9;
}

.separation hr {
  border-top: 3px solid var(--dark);
  width: 90%;
  margin: auto;
}

.row-skills {
  padding-top: 40px;
}

.progress-bar {
  height: 30px;
}

.aprendiendo {
  padding-top: 70px;
  font-size: 30px;
}

/* SKILLS STYLES:
 * =================================================================== */

#skills {
  background: #151515
    /* url(https://images.unsplash.com/photo-1496492254320-b16c3f10f788?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) */
    url(https://images.unsplash.com/photo-1665126871377-d908db42ddaa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)
    no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 90vh;
  position: relative;
  text-align: center;
  color: var(--white);
  display: table;
}

.section-image h2 {
  font-size: 30px;
  text-align: center;
}
.section-image p {
  text-align: center;
}
.section-image,
.row p {
  padding-bottom: 10px;
}

.row-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}
.row-skills li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  row-gap: 10px;
  width: 1rem;
  border: 2px solid rgb(228, 227, 227);
  border-radius: 10px;
  padding: 1rem 5rem;
  transition: transform 500ms ease-in;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.row-skills li:hover {
  cursor: pointer;
  border-radius: 8px;
  transform: scale(1.06);
  transition: transform 0.6s ease-in-out;
}

.row-skills h2 {
  padding-top: 15px;
  padding-bottom: 20px;
}
.row-skills i {
  padding-top: 15px;
}
.timeline-icon {
  border: 2px solid var(--green-light);
}

.section-primary .progress {
  padding-top: 50px;
}

.slide {
  animation-name: slideIn;
  animation-duration: 350ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.57, 0.35, 0.01, 0.94);
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

/* EXPERIENCE STYLES:
 * =================================================================== */
.netq {
  border-radius: 50%;
  border: 2px solid var(--green-light);
}

#experiencesection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 70px;
}

.content-experience {
  width: 35%;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  border: 2px solid var(--green-light);
}

.encabezado {
  padding: 15px;
  background: var(--green-light);
  color: var(--white);
  margin: -20px -20px 0 -20px;
  font-weight: 300;
  border-radius: 3px 3px 0 0;
}

.encabezado .date {
  color: var(--white);
  font-size: 25px;
}
.encabezado .position {
  color: var(--dark);
}

.content-right p {
  text-align: center;
  width: 95%;
}

.content-experience:hover {
  cursor: pointer;
  border-radius: 8px;
  transform: scale(1.06);
  transition: transform 0.6s ease-in-out;
}

/* GIF STYLE*/
img.progress {
  width: 30%;
}

/* MIS PROYECTOS
* =================================================================== */
.section-heading h2 {
  padding-top: 100px;
}

.card {
  margin: 50px auto;
  position: relative;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #ffffff;
  cursor: pointer;
  padding: 20px;
}
.imgbox img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.content-card h1 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.content-card p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

/* VER PROYECTOS */

.ver-proyectos-boton {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--green-light);
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}
.ver-proyectos-boton:hover {
  color: var(--green-light);
  background-color: var(--white);
  border: 1px solid var(--green-light);
}

.disappear-tech p {
  font-size: 15px;
  padding: 14px 9px;
}
.disappear-tech-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.disappear-tech-flex li {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  margin: 0 10px; */
}
.disappear-tech-flex p {
  font-size: 10px;
  padding: 0px 0px;
}
.disappear-tech-flex i {
  color: var(--green-light);
}
.disappear-tech-html p {
  padding-right: 30px;
}
.disappear-tech-css p {
  padding-right: 20px;
}
.disappear-tech-code p {
  padding: 10px 34px;
}
.disappear-tech-code a {
  color: var(--dark);
}

.more-proxim {
  padding-top: 0px !important;
  padding-bottom: 50px;
  text-align: center !important;
  font-weight: bold;
}

/* OCULTAR TECNOLOGIAS */
.disappear-tech {
  display: none;
}
.card:hover .disappear-tech {
  display: block;
  text-align: center;
  margin-top: 20px;
}

section#shadow-host-companion {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* DOWNLOAD BUTTON
 * =================================================================== */
.download-button {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 15px;
  border: 1px solid var(--green-light);
  border-radius: 15px;
  letter-spacing: 3px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}
.download-button:hover {
  border: 1px solid var(--dark);
}
.download-button:hover a {
  color: var(--dark);
}

/* CHEVRONS DOWN 
 * =================================================================== */
.flecha-abajo {
  position: absolute;
  z-index: 99;
  bottom: 3%;
  left: 50%;
  font-size: 40px;
  animation: up-down 1.2s ease infinite;
}
@keyframes up-down {
  0% {
    transform: translateY(20px);
  }
  25% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

/* FLECHA
 * =================================================================== */
.flecha-arriba {
  display: none;
  width: 50px;
  height: 50px;
  padding: 4px;
  border-radius: 50%;
  text-align: center;
  background-color: var(--green-light);
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1;
  box-shadow: 0 0 10px #fff, 0 0 0 3px #0003;
}
.flecha-arriba img {
  width: 80%;
}

/* WHATSAPP ICON
 * =================================================================== */
.btn-whatsApp {
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 53px;
  bottom: 30px;
  left: 20px;
  background: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease;
  animation: efectButton 1.2s infinite;
}
.btn-whatsApp:hover {
  background: var(--white);
}
/* Darle efecto al botón de whats */
@keyframes efectButton {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}

/* TOOLTIP */

.btn-whatsApp:hover .tooltip-box {
  display: inline-block;
}

.tooltip-box {
  display: none;
  width: 320px;
  position: absolute;
  background: var(--green-light);
  line-height: 20px;
  z-index: 500;
  text-align: center;
  color: var(--dark);
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 50px;
}

.tooltip-box::after {
  content: "";
  display: block;
  border-top: 7px solid var(--green-light);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  bottom: -7px;
  left: 18px;
  /* left: calc(50% - 7px); */
}

/* FOOTER
 * =================================================================== */

footer {
  display: block;
  position: static;
  bottom: 0;
  background-color: black;
  color: #fff;
  padding: 50px 0;
}

footer .container {
  display: flex;
  justify-content: space-around;
}

footer p {
  padding: 15px;
  opacity: 0.8;
}
