header:after,
#timeline .timeline-item:after,
header:before,
#timeline .timeline-item:before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

:root {
  --green-light: #5bd3bb;
  --white: #fafafb;
  --dark: #111111;
}

#timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  transition: all 0.4s ease;
}

/* CREA LA RALLA CENTRAL */
#timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: var(--green-light);
  left: 50%;
  top: 0;
  position: absolute;
}

/* HACE QUE LA RALLA CENTRAL SE PONGA DEBAJO DEL CONTENIDO*/
#timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}

/* SE CREAN LAS REDONDAS AZULES PARA CADA ICONO: */
#timeline .timeline-item .timeline-icon {
  background: var(--green-light);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -23px;
  border-radius: 50%;
}
img .netq {
  text-align: center;
}

/* SE METE EL CONTENIDO EN CAJAS (EXPERIENCIA CON DESCRIPCIÓN)*/
#timeline .timeline-item .timeline-content {
  width: 45%;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* ENCABEZADO DE LA CAJA DE COLOR VERDE:*/
#timeline .timeline-item .timeline-content h2 {
  padding: 15px;
  background: var(--green-light);
  color: var(--white);
  margin: -20px -20px 0 -20px;
  font-weight: 300;
  border-radius: 3px 3px 0 0;
}

/* SE CREA EL TRIANGULO VERDE QUE RELACIONA LA CAJA CON LA ESFERA DEL ICONO: */
#timeline .timeline-item .timeline-content:before {
  content: "";
  position: absolute;
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #1abc9c;
}

/* PARA PONER ALGUNAS CAJAS A LA DERECHA */
#timeline .timeline-item .timeline-content.right {
  float: right;
}

/* PARA PONER EL TRIANGULO VERDE QUE RELACIONA LA CAJA CON LA ESFERA DEL ICONO
EN EL LADO DERECHO Y CONTRARIAMENTE PARA CADA CAJA DE ESE LADO */
#timeline .timeline-item .timeline-content.right:before {
  content: "";
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid var(--green-light);
}

.row .date {
  font-size: 20px;
  color: var(--white);
}
.row .description {
  font-size: 20px;
  color: var(--dark);
  text-align: center;
}
